body {
    margin: 0;
} 

.banner {
    display: block;
    width: 600px;
    height: 170px;
    background-image: url(images/burger-banner.jpeg);
    background-repeat: no-repeat;
    background-position:0% 65%;
    background-size:600px;
    color: white;
    margin: auto;
} 

h1 {
    font-family: Smythe;
    font-size: 40;
    font-weight: 400;
    margin: 0 0 0 0;
    padding: 46 0 0 46;
    font-family: Smythe;

}

h2 {
    font-family: Smythe;
    font-size: 22;
    font-weight:400;
    margin: 5 0 0 0;
    padding: 0 0 0 46;
    font-family: Smythe;


}


#order-list {
    display: block;
    width: 600px;
    margin: auto auto;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    width: 500px;
    height: 250px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 40px;
}

#item-info {
    margin-bottom:10 ;
    width: 148.85;
}

#logo {
    padding: 0;
    font-size: 90px;
}

h3 {
    font-family: Smythe;
    font-weight: 400;
    font-size: 28px;
    margin :0 0 6 0;    

}

#extras {
    margin :0 0 9 0;
    font-family: Smythe;
    font-weight: 400;
    font-size: 16px;
    color: #8B8B8B;
    
    
}

#price {
    margin: 0;
    font-family: Smythe;
    font-weight: 400;
    font-size: 20px;

}

#add-item-btn {
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 100;
    background: #3C3C3C;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    margin: 0 0 0 150;
    
}

#total-order h1 {
    width: 133px;
    margin: 0 auto;
    padding: 0 0 40 0;
}

#total-order{
    display: block;
    width: 500px;
    flex-wrap: wrap;
    font-family: Smythe;
    margin: auto auto;
    padding: 0 0 30 0;

}

#order-items{
    display: block;
    width: 500px;
    font-family: Smythe;
    margin: 0 auto 30 auto;
    padding: 30 0;
    border-bottom: 2px solid #393333

}

.item-content-sum {
    display: flex;
    align-items: center;
    font-family: Smythe;
}

#remove-btn{
    font-family: Smythe;
    background-color: white;
    color: #BBBBBB;
    border: none;

}

#total-order #price {
    margin: 0 0 0 0;
    margin-left: auto;

}

#name{
    font-size: 30px;
    margin: 0 0 0 0;

}

#discount{
    padding-top: 20px;
    color: #AA4A44
    ;
}

#complete-order{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30;
}
#complete-order-btn ,#pay-btn{
    flex-basis: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    height: 60;
    border-radius: 3px;
    border: none;
    background: #16DB99;

}

#card-details{
        font-family: Verdana;
        font-weight: 700;
        font-size: 24px;
        position: fixed;
        width: 525;
        height: 540;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5.19px 5.19px 255.44px 0px #00000080;

}


#title{
    display: block;
    width:238px;
    margin :50 auto;
    
    
    
}

#input-card-info input{
    font-family: Verdana;
    font-size: 20px;
    width: 475;
    height: 70;
    margin-top: 20;
    padding-left: 26;

}

#input-card-info{
    display: block;
    width:475px;
    height: 300px;
    margin :50 auto 20 auto;
    
}

#error-message{
    font-family: Verdana;
    color: #AA4A44;
    font-size: large;
    margin: 20 0 0 2;
    padding: 0;
}

#pay-btn{
    display: block;
    width:475px;
    margin :20 auto 50 auto;

}

.hidden{
    display:none;
}

input{
    display: block;
}

#final-msg{
    font-family: Smythe;
    background: #ECFDF5;
    color: #065F46;
    font-size: 32px;
    padding: 50 60;
    margin: 0 auto 40 auto;
    padding: 0;
    width: 500;
    height: 120;
    border-radius: 3px;
}

#final-msg p{
    width: 378;
    margin: 0 auto;
    padding: 41 0;

}