body {
    font-family: Smythe;
    margin: 0;
} 

.banner {
    display: block;
    width: 600px;
    height: 170px;
    background-image: url(images/burger-banner.jpeg);
    background-repeat: no-repeat;
    background-position:0% 65%;
    background-size:600px;
    color: white;
    margin: auto;
} 

h1 {
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    padding: 46px 0px 0px 46px;


}

h2 {
    font-size: 22px;
    font-weight:400;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 46px;
}


#order-list {
    display: block;
    width: 600px;
    margin: auto auto;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    width: 500px;
    height: 250px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 40px;
}

#item-info {
    margin-bottom:10 ;
    width: 148.85;
}

#logo {
    padding: 0;
    font-size: 90px;
}

h3 {
    font-weight: 400px;
    font-size: 28px;
    margin :0px 0px 6px 0px;

}

#extras {
    margin :0px 0px 9px 0px;
    font-weight: 400px;
    font-size: 16px;
    color: #8B8B8B;
    
    
}

#price {
    margin: 0px;
    font-weight: 400px;
    font-size: 20px;

}

.add-item-btn {
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 100px;
    background: #3C3C3C;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    margin: 0px 0px 0px 150px;
    
}

#total-order h1 {
    width: 133px;
    margin: 0 auto;
    padding: 0px 0px 40px 0px;
}

#total-order{
    display: block;
    width: 500px;
    flex-wrap: wrap;
    margin: auto auto;
    padding: 0px 0px 30px 0px;

}

#order-items{
    display: block;
    width: 500px;
    margin: 0px auto 30px auto;
    padding: 30px 0px;
    border-bottom: 2px solid #393333

}

.item-content-sum {
    display: flex;
    align-items: center;
}

.remove-btn{
    font-family: inherit;
    background-color: white;
    color: #BBBBBB;
    border: none;

}

#total-order #price {
    margin: 0px 0px 0px 0px;
    margin-left: auto;

}

.name{
    font-size: 30px;
    margin: 0px 0px 0px 0px;

}

#discount{
    padding-top: 20px;
    color: #AA4A44
    ;
}

#complete-order{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.complete-order-btn {
    flex-basis: 100%;
    font-weight: bold;
    color: white;    
    font-family: Verdana;
    font-size: 16px;
    height: 60px;
    border-radius: 3px;
    border: none;
    background: #16DB99;

}

#card-details{
        font-family: Verdana;
        font-weight:700;
        font-size: 24px;
        position: fixed;
        width: 525px;
        height: 540px;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
}


#title{
    width:238px;
    margin :50px auto;
}

#input-card-info input{
    font-family: inherit;
    font-size: 20px;
    width: 475px;
    height: 70px;
    margin-top: 20px;
    padding-left: 26px;
}

#input-card-info {
    display: block;
    width:475px;
    height: 300px;
    margin :50px auto 20px auto;
    
}

#error-message{
    color: #AA4A44;
    font-size: large;
    margin: 20px 0px 0px 2px;
    padding: 0px;
}

#pay-btn{
    display: block;
    width:475px;
    margin :20px auto 50px auto;

}

.hidden{
    display:none;
}

input{
    display: block;
}

#final-msg{
    background: #ECFDF5;
    color: #065F46;
    font-size: 32px;
    padding: 50px 60px;
    margin: 0px auto 40px auto;
    padding: 0px;
    width: 500px;
    height: 120px;
    border-radius: 3px;
}

#final-msg p{
    width: 378px;
    margin: 0px auto;
    padding: 41px 0px;
}